AA222Project1_2020/project1_jl/*
AA222Project1_2020/language.txt
AA222Project1_2020/LICENSE
AA222Project1_2020/localtest.jl
AA222Project1_2020/make_submission.sh
AA222Project1_2020/make_submission_gitbash.sh
AA222Project1_2020/project1.zip
textbook.pdf
AA222Project1_2020/README.md
AA222Project1_2020/project1_py/__pycache__/*
