textbook.pdf
Past Midterm Solutions.zip
Past Midterms.zip
Project1_2020/project1_jl/*
Project1_2020/language.txt
Project1_2020/LICENSE
Project1_2020/localtest.jl
Project1_2020/make_submission.sh
Project1_2020/make_submission_gitbash.sh
Project1_2020/project2.zip
Project1_2020/README.md
Project1_2020/project1_py/__pycache__/*

Project2_2020/project1_jl/*
Project2_2020/language.txt
Project2_2020/LICENSE
Project2_2020/localtest.jl
Project2_2020/make_submission.bat
Project2_2020/make_submission.sh
Project2_2020/make_submission_gitbash.sh
Project2_2020/project2.zip
Project2_2020/README.md
Project2_2020/project1_py/__pycache__/*

